#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.header {
  border: 5px solid red;
  padding: 0.5em;
  margin: 0.5em;
}

.cart {
  border: 5px solid dodgerblue;
  padding: 0.5em;
  margin: 0.5em;
}

.cart-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1em;
}

.cart-content {
  border: 5px solid hotpink;
  padding: 0.5em;
  margin: 0.5em;
}

.cart-item {
  border: 5px solid orange;
  padding: 0.5em;
  margin: 0.5em;
  display: flex;
  justify-content: space-between;
}

.cart-summary {
  border: 5px solid green;
  padding: 0.5em;
  margin: 0.5em;
}